// Vars

// Font
$outfit: 'Outfit', sans-serif;

$white: hsl(0, 0%, 100%);
$softBlue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);

// END Vars
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  min-height: 100vh;
  background-color: hsl(217, 54%, 11%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1.5rem 1.5rem 2.875rem;
  color: $softBlue;
  font-family: $outfit;
}

p {
  font-size: 1.125rem;
}

a {
  color: $white;
  text-decoration: none;
  transition: color 150ms ease-in-out;
  &:hover {
    color: $cyan;
    transition: color 150ms ease-in-out;
  }
}

.card {
  height: max-content;
  width: 100%;
  max-width: 21.875rem;
  padding: 1.5rem;
  border-radius: .5rem;
  &--preview {
    background-color: hsl(216, 50%, 16%);
  }

  .preview__image {
    display: block;
    border-radius: .5rem;
    position: relative;
    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;        
      inset: 0;
      opacity: 0;
      transition: opacity 320ms ease-out;
    }
    &::before {
      z-index: 1;
      background-color: $cyan;
      width: 100%;
      height: 100%;
      border-radius: inherit;
    }
    &::after {
      z-index: 2;
      margin: auto;
      background-image: url(images/icon-view.svg);
      background-position: center;
      width: 3rem;
      height: 1.875rem;
    }
    &:hover {
      &::before,
      &::after {
        transition: opacity 320ms ease-in;
      }
      &::before {
        opacity: .5;
      }
      &::after {
        opacity: 1;
      }
    }

    img {
      display: block;
      border-radius: inherit;
      max-width: 18.875rem;
      width: 100%;
    }
  }

  h3 {
    font-size: 1.25rem;
  }

  .sale-details {
    display: flex;
    justify-content: space-between;

    .value,
    .time-left {
      display: inherit;
      align-items: center;
      &::before {
        display: inline-block;
        content: '';
        width: 1rem;
        height: 1.375rem;
        vertical-align: inherit;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 0.3125rem;
      }
    }

    .value {
      color: $cyan;
      &::before {
        background-image: url(images/icon-ethereum.svg);
      }
    }

    .time-left {
      &::before {
        background-image: url(images/icon-clock.svg);
      }
    }
  }

  hr {
    margin: 0.9375rem 0;
    border: 0;
    background-color: hsl(215, 32%, 27%);
    height: 1px;
  }

  .creator-info {
    line-height: 2.0625rem;
    vertical-align: middle;
    img {
      vertical-align: middle;
      width: 2.0625rem;
      height: 2.0625rem;
      margin-right: 1rem;
    }
  }
}

.attribution {
  position: absolute;
  bottom: 0;
  font-size: 0.6875rem; 
  text-align: center;
  padding: 1rem 0;
}